@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

input[type=radio] {
    display: none;
}

label[for=card],
label[for=list] {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
}

.list__img {
    margin-bottom: 4%;
}

.list__link {
    font-size: 110%;
}

#list:checked~ul li {
    display: block;
    width: auto;
    margin: 50px 0 0 0;
}

#list:checked~ul li .list__img,
#list:checked~ul li .list__info,
#list:checked~ul li .list__description {
    display: block;
    float: left;
    padding: 0 5%;
}

#list:checked~ul li .list__info .list__link {
    width: 200px;
}

#list:checked~ul li .list__img {
    width: 300px;
    margin: 0 auto;
}

#list:checked~ul li::after {
    content: '';
    display: block;
    clear: both;
}

#list:checked~ul .list__description {
    max-width: 40%;
}

li {
    list-style: none;
    display: inline-block;
    width: 200px;
    margin: 30px 0 0 30px;
    padding: 0;
    vertical-align: top;
}

input.btn:checked+label {
    background: #c3f385;
}

label.btn:hover {
    background: #c0bfbe;
}

.main__container {
    padding: 2% 5%;
}

h1 {
    text-align: center;
    margin-bottom: 2%;
}

header {
    margin-bottom: 5%;
}

label {
    font-size: 140%;
}

.list__link {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list__link a:visited {
    color: rgb(47, 0, 255);
}

.list__link a:hover {
    color: red;
}

.list__img img {
    height: 200px;
    display: block;
    margin: 0 auto;
}

.list__img img:hover {
    opacity: .7;
}

.list__item p {
    font-size: 80%;
    margin-bottom: 10%;
}

.list__price {
    font-size: 110%;
    color: rgb(243, 32, 32);
    font-weight: 600;
    margin-bottom: 10%;
}

.list__price_old {
    text-decoration: line-through;
    color: rgb(71, 70, 70);
    font-weight: 400;
    font-size: 70%;
}

.list__description {
    text-align: justify;
}


/* STARS */

.list__star {
    display: inline-flex;
    margin-bottom: 10%;
}

.rating__icon {
    pointer-events: none;
}

.rating__input {
    position: absolute !important;
    left: -9999px !important;
}

.rating__label {
    cursor: pointer;
    padding: 0 0.1em;
}

.rating__label--half {
    padding-right: 0;
    margin-right: -0.6em;
    z-index: 2;
}

.rating__icon--star {
    color: orange;
}

.rating__icon--none {
    color: #eee;
}

.rating__input--none:checked+.rating__label .rating__icon--none {
    color: red;
}

.rating__input:checked~.rating__label .rating__icon--star {
    color: #ddd;
}

.list__star:hover .rating__label .rating__icon--star,
.list__star:hover .rating__label--half .rating__icon--star {
    color: orange;
}

.rating__input:hover~.rating__label .rating__icon--star,
.rating__input:hover~.rating__label--half .rating__icon--star {
    color: #ddd;
}

.list__star:hover .rating__input--none:not(:hover)+.rating__label .rating__icon--none {
    color: #eee;
}

.rating__input--none:hover+.rating__label .rating__icon--none {
    color: red;
}