/* не используйте эти классы, а просто копируйте значения в задачи */

.pink
{
    color: #ff6698;
}

.orange
{
    color: #ffb366;
}

.yellow
{
    color: #ffff66
}

.green
{
    color: #98ff66
}

.blue
{
    color: #6698ff
}