* {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2vw;
}

img {
    max-width: 100%;
    border: 2px solid black;
    margin-bottom: 1.5vw;
}

header {
    background-color: #B2B2B2;
    background-image: url(../img/flywheel.jpeg);
    background-size: cover;
    min-height: 25vh;
    padding: 5vh 5vw;
}

h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 2vw;
    text-transform: uppercase;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 2vw;
}

nav a {
    color: #000;
    background-color: #C5C5C5;
    padding: 1.5vw 5vw;
    border-radius: 5px;
    background-color: rgba(248, 248, 248, 0.2);
    text-decoration: none;
}

.active {
    background-color: rgba(248, 248, 248, 1);
}

main {
    display: flex;
}

.left {
    background-color: #777613;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4vw 2vw;
    padding-bottom: 0;
}

.right {
    width: 80%;
    padding: 1vw;
}

.right p {
    margin-bottom: 1vw;
    font-size: 18px;
}

h2 {
    margin-bottom: 1.5vw;
}

table {
    font-family: "PT Sans", "Arial", serif;
    table-layout: fixed;
    margin: 0 auto;
    width: 70%;
    color: #8E8E8E;
    font-weight: 600;
    text-align: inherit;
    color: rgba(0, 0, 0, 0.4);
}

tr {
    margin-bottom: 0.2vw;
    background-color: #E4F6D4;
}

th,
td {
    padding: .5vw .8vw;
}

th {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #B0E053;
    border-bottom: 3px solid #B0E053;
}

table tr:hover {
    color: rgba(0, 0, 0, 0.9);
}

table tr:nth-child(odd) {
    opacity: 0.8;
}

table tbody tr:nth-child(1) {
    background: #136a8a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #267871, #136a8a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #267871, #136a8a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

th:nth-child(2),
td:nth-child(2),
th:nth-child(3),
td:nth-child(3) {
    text-align: center;
}

tr th:first-child {
    width: 55%;
    text-align: left;
}