.animation {
    width: 150px;
    height: 150px;
    background-color: #f00;
    animation: transfomation 3s infinite alternate linear;
    transition: background-color 500ms linear;
}

.animation:hover {
    background-color: #ff0;
}

@keyframes transfomation {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(100px);
    }
    50% {
        transform: translate(100px, 100%);
    }
    75%,
    100% {
        transform: translate(100px, 100%) scale(2) rotate(245deg);
    }
}