* {
    margin: 0;
    padding: 0;
}

.container {
    height: 1650px;
    width: 1020px;
    margin: auto;
    font-family: 'Arial', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    margin: 18px;
    background-color: #f6f5f3;
    height: 1614px;
}

header {
    height: 154px;
}

.logo-background {
    position: relative;
    left: 742px;
    top: -1px;
    width: 170px;
    height: 133px;
}

.logo {
    z-index: 1;
    position: relative;
    top: -109px;
    left: 36px
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-circle {
    width: 62px;
    height: 62px;
    border-radius: 31px;
    background: #ffdb4a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-circle:hover {
    opacity: .8;
}

.nav-circle-left {
    position: relative;
    left: -27px;
}

.nav-circle-right {
    position: relative;
    left: 25px;
}

.board {
    height: 348px;
}

.board-text {
    width: 644px;
    height: 156px;
    margin: 0 auto 0 6px;
    font-size: 35px;
    letter-spacing: 0.5px;
    line-height: 1.23;
    padding-left: 18px;
    text-indent: -18px;
}

.board-img {
    width: 596px;
    height: 125px;
    margin: 0 auto;
    position: relative;
    left: -17px;
    top: 54px;
}

q {
    quotes: "\00ab" "\00bb";
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-title {
    z-index: 1;
    width: 641px;
    height: 50px;
    background-color: #60696e;
    margin-top: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
}

.video-title-text {
    color: white;
    font-size: 29px;
    margin-top: -2px;
    margin-left: 10px;
    letter-spacing: 0.1px;
}

.videosnapshot {
    width: 641px;
    height: 361px;
    margin-top: -49px;
}

.video-circle {
    width: 130px;
    height: 130px;
    border-radius: 65px;
    background: #ffdb4b;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -243px;
}

.video-circle:hover {
    opacity: .8;
}

.tagline {
    margin-top: 175px;
    text-align: center;
    font-size: 48px;
    letter-spacing: -0.15px;
}

.features {
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

.feature {
    display: flex;
    flex-direction: column;
    width: 240px;
    /*220px*/
}

.feature-image {
    height: 75px;
    margin-left: 26px;
}

.searchfieldicon {
    margin-top: 10px;
}

.feature-title {
    height: 52px;
    font-size: 32px;
    margin-left: 26px;
    margin-top: 13px;
    letter-spacing: -0.8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.feature-text {
    margin-left: 26px;
    margin-right: -5px;
    letter-spacing: .1px;
    line-height: 1.23;
}

.summary {
    text-align: center;
    margin-top: 67px;
    margin-left: 48px;
    font-size: 42px;
    letter-spacing: .1px;
}

.button {
    width: 318px;
    height: 72px;
    align-self: center;
    font-size: 36px;
    margin-top: 62px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(#fde55e, #fdde1f);
}

.button:hover {
    background: linear-gradient(#fde976, #d4b91c);
}