* {
    box-sizing: border-box;
}

.container {
    position: relative;
}

.box {
    border: 1px solid rgb(38, 175, 38);
    padding: 10px 10px 20px;
    width: 150px;
    position: fixed;
    top: 25px;
    right: 25px;
}

button {
    position: absolute;
    right: -5px;
    bottom: -5px;
    background-color: rgb(38, 175, 38);
    color: #fff;
    border: none;
}